<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "/stylesheet/contact.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href = "/shop/products">shop</a></li>
                <li> <a href = "/admin/add-product" >add-product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h2>Registration Form</h2>
            <form action="/shop" method="POST">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" placeholder="Enter your name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email ID:</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email ID" required>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </main>
</body>
</html>